[{
        "key": "huashang",
        "type": 1, // 数值
        "name": "划伤",
        "data": {"area": 8, "length": 5, "energy": 9}
    }, {
        "key": "gubao",
        "type": 2, // 开关
        "name": "鼓包",
        "data": {"isOpen": true}
    }, {
        "key": "qujian",
        "type": 3, // 取值区间
        "name": "名称1",
        "data": {"minValue": 14,"maxValue": 25}
    }, {
        "key": "danxuan",
        "type": 4, // 单选项
        "name": "名称2",
        "data": {
            "options": [{"label": "选项1","value": 1,"checked": true},
                        {"label": "选项2","value": 2,"checked": false},
                        {"label": "选项3","value": 3,"checked": false}
                    ]
        }
    }, {
        "key": "duoxuan",
        "type": 5, // 多选项
        "name": "名称3",
        "data": {
            "options": [{"label": "选项1","value": 1,"checked": false},
                        {"label": "选项2","value": 2,"checked": true},
                        {"label": "选项3","value": 3,"checked": true}
                    ]
        }
    }, {
        "key": "zuobiao",
        "type": 6, // 坐标
        "name": "名称4",
        "data": {
            "imageUrl": "http://localhost:port/servername/files/123321.jpg",
            "areaValue": {"rightTopX": 90,"rightTopY": 90,"leftBottomX": 100,"leftBottomY": 100}
    }
}]