[
  {
    "id": 0,
    "type": "Location",
    "path": "Location_V1_0/det_bestModelIoU_0.97_v_t_0.95_epoch_012.dlc",       // 此path为应用本身model文件夹下的相对路径
    "size": [480,480],
    "output_shape": null,
    "input_blob_name": "",
    "output_blob_names": "",
    "classifier_threshold": 0,
    "device_type": 0,
    "data": "",
    "label_file": "",
    "show_result": false,
    "operate_on_aie_id": 0,
    "operate_on_class_ids": 0，
   "crop_num_x":1,
    "crop_num_y":1,
    "roi_param":[0.0322,0.0121,0.9612,0.964]
  },
  {
    "id": 1,
    "type": "Segment",
    "path": "Segment_V1_1/det_bestModelIoU_0.63_v_t_0.56_epoch_031.dlc",
    "size": [480,480],
    "output_shape": null,
    "input_blob_name": "",
    "output_blob_names": "",
    "classifier_threshold": 0,
    "device_type": 0,
    "data": "",
    "label_file": "",
    "show_result": false,
    "operate_on_aie_id": 0,
    "operate_on_class_ids": 0，
    "crop_num_x":1,
    "crop_num_y":1,
    "roi_param":[]
  }
]