[{
    "id": 0,
    "type": "Location",
    "path": "model/det_bestModelIoU_0.97_v_t_0.95_epoch_012.dlc",
    "size": [480, 480],
    "output_shape": [480, 480, 4],
    "input_blob_name": "input_1",
    "output_blob_names": "predictions/Softmax",
    "classifier_threshold": 0.0,
    "device_type": 0,
    "data": "imgs",
    "label_file": "model/det.txt",
    "show_result": true,
    "operate_on_aie_id": -1,
    "operate_on_class_ids": -1
  },
  {
    "id": 1,
    "type": "Segment",
    "path": "model/det_bestModelIoU_0.63_v_t_0.56_epoch_031.dlc",
    "size": [480, 480],
    "output_shape": [480, 480, 4],
    "input_blob_name": "input_1",
    "output_blob_names": "predictions/Softmax",
    "classifier_threshold": 0.3,
    "device_type": 0,
    "data": "imgs",
    "label_file": "model/rec.txt",  
    "operate-on_aie_id": 0,
    "operate_on_class_ids": 0,
    "show_result": true
  },
  {
    "id": 2,
    "type": "Abnormal",
    "path": "model/det_deepAndShaowFeatureGenerator_Epoch_11_testloss_0.000_segLoss_0.000.dlc",
    "size": [480, 480],
    "output_shape": [480, 480, 3],
    "input_blob_name": "input_1",
    "output_blob_names": "predictions/Softmax",
    "classifier_threshold": 0.3,
    "device_type": 0,
    "data": "imgs",
    "label_file": "model/gan.txt",  
    "show_result": false,
    "operate_on_aie_id": 0,
    "operate_on_class_ids": 0
  }]
  